@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300&family=Oswald&display=swap');
*{
    margin: 0;
    padding:0px;
    font-family: 'Albert Sans';
    
}

.VI{
    position:absolute;
    width:100%;
    height: 0px;
    right: -00px;
    top: 210px;
    
}


video{
    position: relative;
    top: -115.5px;
    left: 200px;
    width:69vw;
    height: 65vh;
    opacity: 0.3;
    background: #000000;
    animation: animar 3s forwards;
    box-shadow:0px 0px 10px #EB0609;
}
video::before,video::after{
    content: '';
    display:block;
    position:fixed;
    width: 68.2vw;
    left: 200px;
    height: 49vh;
    background: none;
    top: 9px;
    bottom: -10px;
    box-shadow:0px 0px 10px #EB0609;
    border-radius: 30px 0px 30px 0px;
    border: 2px solid #EB0609 ;
   }
   
   @keyframes animar {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
       50%{
           opacity: 0.3;
       }
       100%{
        transform: scale(1.07);
        opacity: 10;
    }
       
   }
body{
    background-image: linear-gradient(black, black,#EB0609, black);
}

label img{
    width: 55px;
    background: transparent;
    left: 100px;
}
p{
    text-decoration: none;
    color: black;
}
h1{
    color: rgb(10, 181, 233);
    padding: 15px;
    font-family: 'Oswald';
}
p img{
    width: 40px;
}

input[type="checkbox"]{
    display: none;
}

ul{
    position:relative;
    top:0px;
    width: 100%;
}
   
nav{
    
    background-color: rgba(0, 0, 0, 0.767);
    width: 100px;
    left: -300px;
    height: 560px;
    position:absolute;
    box-shadow: 0px 9px 10px #EB0609;
    border-radius: 10px;
}
li{
    border-color: #EB0609;
}

p{
    background-color: black;
    display: block;
    padding: 20px 10px;
    color: rgb(10, 144, 233);
    box-shadow: 0px 2px 20px #EB0609;
    border-radius: 5px 30px 5px;
}

input[type="checkbox"]:checked ~ nav
{
    transform: translateX(300px);
    box-shadow: 0px 0px 10px #EB0609;
}
li:hover,
H1:hover
button:hover
.p >img:hover{
    cursor: pointer;
    
}
p{
    transition: transform .9s ;
}
p:hover{
    transform: scale(1.1);
    background: black;
}
label>img{
    position: relative;
    left: 10px;
    top: 5px;
    transition: transform .9s ;
    box-shadow: 0px 2px 20px #000000;
}
label>img:hover{
    transform: scale(1.1);
    
}
.main{
    background: #00000094;
    width: 150px;
    padding: 200px 560px;
    margin: 20px;
    position: block;
    display: flex;
    justify-items: center;
    align-items: center;
    animation: FG 1s infinite;
    box-shadow: 0px 0px 15px #EB0609 ;
    border-radius: 30px
}

.babi{
    position: relative;
    margin: 0 ;
    width: 60px;
    height: 10vh;
    right: 100px;
}

a{
    position: relative;
    left: -200px;
    top:-160px;
    padding: 8px 10px;
    display: flex;
}

.cav{position: absolute;
    
}
.tempo{
    position: relative;
    top: -150px;
    right: 90px;
    height: 100px;
    width: 9px;
}
iframe{
    box-shadow: 0px 0px 30px black;
}
a>img{
    width: 70px;
    background: rgba(48, 45, 45, 0);
    border-radius: 10px;    
}

@keyframes FG {
    0% {
        box-shadow: 0px 0px 20px  #EB0609;
    }
    25%{
        box-shadow: 0px 0px 25px #EB0609; 
    }
    50%{
        box-shadow: 0px 0px 30px #EB0609;
       }
    75%{
        box-shadow: 0px 0px 25px #EB0609; 
    }
    100%{
        box-shadow: 0px 0px 20px  #EB0609; 
    }
}

a>img:hover{
    transform: scale(1.3);
}
iframe{
    border-radius: 30px 0px 30px 0px;
    opacity: 0.0;
    
}
iframe:hover{
    box-shadow: 0px 0px 30px #EB0609;
}
.Belgo img{
    display: none;
}

@media only screen and (max-width:700px){
    body{
        position:absolute;
        height: 68px;
        background: #000000;
        display: flex;
        box-shadow:0px 0px 80px #EB0609;
    }
    .Belgo img{
        display:flex;
        position: relative;
        top: -15px;
        left: 0px;
        height: 83px;
        width:99px;
    }
    .main{
        display: none;
    }
    nav{
        top:80px;
    }
    
    .VI{display: none;
        }
    .babi a{
        display: none;
    }
    label img{
        top:10px;
        width: 14%;
    }
}
